@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50;
  }
}

@layer components {
  .btn-primary {
    @apply bg-[#1E4D5C] hover:bg-opacity-90 text-white font-medium py-3 px-4 rounded-lg;
  }
  
  .input-field {
    @apply block w-full rounded-md border-2 border-[#00008B] focus:border-[#00008B] focus:ring-[#00008B];
  }
}
